{
    "extends": "eslint:recommended",
    "ecmaFeatures": {
        "jsx": true
    },
    "rules": {
        "semi": 2,
        "eqeqeq": [2, "smart"],
        "quotes": [2, "single"],
        comma-dangle: ["error", "always-multiline"],
        "no-unused-vars": 1,
    },
    "env": {
        "browser": true,
        "node": true,
        "es6": true
    }
}
